body {
    background: linear-gradient(to right, #000000, #b9b9b9); /* Horizontal gradient */
  }
  
* {
    color: aliceblue;
}

section {
    padding: 100px;
    height: 100vh; /* Makes each section full screen */
  }

  a { 
    text-decoration: none; /*removes the underline from linking
  }